RewriteEngine On
# Force Non-WWW
RewriteCond %{HTTP_HOST} ^www\.ewastekochi\.com [NC]
RewriteRule ^(.*)$ https://ewastekochi.com/ [L,R=301]

# Force index.html to /
RewriteCond %{THE_REQUEST} ^.*/index\.html
RewriteRule ^(.*)index\.html$ / [R=301,L]

# Internal Link Normalizer (Support clean URLs)
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ .html [L]
